body {
  background-color: #f0f0f0;
  font-size: 14px;
  color: #333;
  margin: 0 auto;
}
h1,h2,h3,h4,h5,h6,p {
  padding: 10px 0;
  margin: 0;
}

header {
  height: 150px;
  background-color: gray;
}

.heading {
  height: 100px;
  width: 960px;
  background-color: #cccccc;
}

.navbar {
  height: 50px;
  width: 960px;
  background-color: #A9A9A9;
}

.contents {
  height: 400px;
  width: 960px;
  background-color: #C0C0C0;
  margin: 0 auto;
  display: flex;
}

.left-content {
  height: 400px;
  width: 640px;
  /*background-color: blue;*/
}

.right-content {
  height: 370px;
  width: 320px;
  background-color: #f9f9f9;
}

footer {
  height: 50px;
  background-color: gray;
}

.title {
  .font-family: fantasy;
}

.heading-sentence {
  font-size: 18px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

ul li{
  margin: 0;
  padding-right: 20px;
  float: left;
}

td {
  margin: 0;
  padding-left: 10px;
  line-height: 30px;
}

